### FNF-Specific
# File used for the NG API. Should not be shared with others.
APIStuff.hx
art/build_x32-officialrelease.bat
art/build_x64-officialrelease.bat
art/test_x64-debug-officialrelease.bat

### VS Code
export/*
.vscode/*
.haxelib/
*.code-workspace
# Local history which shouldn't be shared.
.history
.ionide
# ! means a file should be added regardless of it it gets ignored prior.
# Including to allow others to use already set-up configuration tweaked for the project.
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.avi
brick/cool/cool_00000.png
brick/cool/cool_00001.png
brick/cool/cool_00002.png
brick/cool/cool_00003.png
brick/cool/cool_00004.png
brick/cool/cool_00005.png
brick/cool/cool_00006.png
brick/cool/cool_00007.png
brick/cool/cool_00008.png
brick/cool/cool_00009.png
brick/cool/cool_00010.png
brick/cool/cool_00011.png
brick/cool/cool_00012.png
brick/cool/cool_00013.png
brick/cool/cool_00014.png
brick/cool/cool_00015.png
brick/cool/cool_00016.png
brick/cool/cool_00017.png
brick/cool/cool_00018.png
brick/cool/cool_00019.png
brick/cool/cool_00020.png
brick/cool/cool_00021.png
brick/cool/cool_00022.png
brick/cool/cool_00023.png
brick/cool/cool_00024.png
brick/cool/cool_00025.png
brick/cool/cool_00026.png
brick/cool/cool_00027.png
brick/cool/cool_00028.png
brick/cool/cool_00029.png
brick/cool/cool_00030.png
brick/cool/cool_00031.png
brick/cool/cool_00032.png
brick/cool/cool_00033.png
brick/cool/cool_00034.png
brick/cool/cool_00035.png
brick/cool/cool_00036.png
brick/cool/cool_00037.png
brick/cool/cool_00038.png
brick/cool/cool_00039.png
brick/cool/cool_00040.png
brick/cool/cool_00041.png
brick/cool/cool_00042.png
brick/cool/cool_00043.png
brick/cool/cool_00044.png
brick/cool/cool_00045.png
brick/cool/cool_00046.png
brick/cool/cool_00047.png
brick/cool/cool_00048.png
brick/cool/cool_00049.png
brick/cool/cool_00050.png
brick/cool/cool_00051.png
brick/cool/cool_00052.png
brick/cool/cool_00053.png
brick/cool/cool_00054.png
brick/cool/cool_00055.png
brick/cool/cool_00056.png
brick/cool/cool_00057.png
brick/cool/cool_00058.png
brick/cool/cool_00059.png
brick/cool/cool_00060.png
brick/cool/cool_00061.png
brick/cool/cool_00062.png
brick/cool/cool_00063.png
brick/cool/cool_00064.png
brick/cool/cool_00065.png
brick/cool/cool_00066.png
brick/cool/cool_00067.png
brick/cool/cool_00068.png
brick/cool/cool_00069.png
brick/cool/cool_00070.png
brick/cool/cool_00071.png
brick/cool/cool_00072.png
brick/cool/cool_00073.png
brick/cool/cool_00074.png
brick/cool/cool_00075.png
brick/cool/cool_00076.png
brick/cool/cool_00077.png
brick/cool/cool_00078.png
brick/cool/cool_00079.png
brick/cool/cool_00080.png
brick/cool/cool_00081.png
brick/cool/cool_00082.png
brick/cool/cool_00083.png
brick/cool/cool_00084.png
brick/cool/cool_00085.png
brick/cool/cool_00086.png
brick/cool/cool_00087.png
brick/cool/cool_00088.png
brick/cool/cool_00089.png
